html {
    overflow-y: scroll;
    width: 640px;
    margin: auto;
}

body {
    font-family: monospace, monospace;
    // font-family: 'Lucida Grande', monospace;
    font-size: 18px;
    background: #fcfcfc;
    color: black;
    line-height: 1.3em;
}

hr {
    margin: 12px 0px;
    border: 1px solid #d0e0d1;
}

header {
    font-size: 20px;
    line-height: 40px;
    & > nav {
        float: right;
    margin-left: 20px;
    font-size: 16px;
    color: #97bd99;
    }
}

footer {
    font-size: 14px;
    color: #97bd99;
    text-align: center;
    margin-bottom: 50px;
}

main {
    margin: 30px 0px;
    &#homepage {
        text-align: center;
    }
    &.regular {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    html {
        width: 90vw;
    }
}

/* p, ul, ol {
    margin: 0px 0px 24px;
} */
ul.blog {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin: 30px 0;
        .date {
            float: right;
        }
        .excerpt {
            font-style: italic;
            color: #b0b0b0;
            padding-left: 25px;
        }
    }
}

.post_content {
    // font-family: 'Roboto', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizelegibility;
    font-size: 1.125rem;
    line-height: 1.6em;
    h2, .large {
        font-size: 24px;
        color: #97bd99;
    }
    p {
        margin: 25px 0;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        + em {
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
        }
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
}

a {
    color: #97bd99;
    text-decoration: none;
    &:hover, .current {
        font-weight: bold;
    }
}

.green {
    color: #97bd99;
}

h1 {
    color: black;
    font-size: 20px;
    line-height: 36px;
    margin: 24px 0;
    text-align: center;
}
h2 {
    color: #97bd99;
    font-size: 20px;
    font-weight: normal;
    // line-height: 36px;
}
h3 {
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
    // line-height: 36px;
}

details.h2 {
    > summary {
        color: #97bd99;
        font-size: 20px;
        cursor: pointer;
        margin: 1rem 0;
    }
    details {
        margin-left: 1rem;
        > summary {
            // font-size: 18px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }    
}
